html {
  overflow-y: scroll;
}

#photos {
  text-align:center;
  padding-bottom:4rem;
}

.container { 
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -webkit-align-content: space-between;
  width: 960px; 
  margin: 0 auto; 
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;  
}
 
#filters {
  margin:1%;
  padding:0;
  list-style:none;
  display:inline-block;
}

  #filters li {
    float:left;
  }
  
  #filters li span {
    display: block;
    padding:5px 20px;   
    text-decoration:none;
    color:#666;
    cursor: pointer;
  }
  
  #filters li span:hover {
    color:rgb(243,139,121);
  }
  #filters li span.active {
    background: rgb(243,139,121);
    color:#fff;
  }
 

 
#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width:23%; /* TODO something more creative? */
  margin:1%;
  display:none;
}

  .portfolio img {
    max-width:100%;
    top:0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);   
  }
  
  /* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px; 
  }
}

/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container { 
    width: 95%; 
  }
  
  #portfoliolist .portfolio {
    width:48%;
    margin:1%;
  }   
}

/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 70%;
  }
}
