h1,h2,h3,h4,h5,h6,dt,cite,label,button,.button,.entry-footer,.footer-navigation,.entry-pagination,.sticky-post-label,.entry-meta-wrapper,.stag-twitter .time,.font-header,.stag-button,.site-navigation,input[type="reset"],input[type="submit"],.stag-nav,.stag-toggle-title{font-family:"Gotham A","Gotham B","Helvetica Neue",Helvetica,Arial,sans-serif;}body,.font-body{font-family:"Sentinel SSm A","Sentinel SSm B",Georgia,Times,"Times New Roman",serif;font-size:20px;font-size:2rem;}.main-navigation{font-size:16px;font-size:1.6rem;}.comment-meta a:hover,.entry-meta-wrapper a:hover{color:#6f35ff;}.header-widgets-toggle:after{border-right-color:#6f35ff;}.accent-background,.single .entry-date,body.page .entry-date{background-color:#6f35ff;}body{color:#000000;}.custom-logo a{padding-bottom:36.458333333333%;}

body {
  overflow-x:hidden;
}

.site-navigation a:not(.close-menu):hover {
  background: rgb(243,139,121);
  color: #FFF !important;
}
.site-navigation-pinned {
  background-color: rgba(255,255,255,0.95);
  padding:25px 0;
  position: fixed!important;
  top:0 !important;
  width:100% !important;
  left:0 !important;
}

.scrollmagic-pin-spacer {
  display: inherit !important; /* Nav bar hides display when small */
  min-height: 30px !important; /* Nav bar spacing stays consistent */
}

.jumptarget::before {
  content:"";
  display:block;
  height:81px;
  margin:-81px 0 0;
}

li a {
  color: black;
}
a, a:hover {
  color: rgb(243,139,121);
}
.section {
  margin: 3em 0;
  font-size: 0.8em;
}
blockquote {
  clear: both;
  font-weight: 300;
  margin: 0px 0;
  margin:  4rem 0;
  padding-left: 20px;
  padding-left: 3rem;
  border-left: 2px solid #bbb;
  font-style:italic;
}
blockquote p {
  line-height: 1.45;
  font-size: 20px;
  font-size: 20rem;
}
@media screen and (min-width: 800px) {
  blockquote p {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
blockquote cite {
  display: block;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 20px;
  margin-top: 2rem;
  font-size: 14px;
  font-size: 1.4rem;
}
blockquote cite::before {
  content: '\2014\00a0';
}

.title {
  text-align: center;
  font-size: 20px;
  font-size: 2rem;
  margin: 6rem 0;
}

#experience {
  width: 70%;
  margin: 0 0 10% 15%;
}

.company h1 {
  font-size: 16px;
  font-size: 1.6rem;
  display:inline-block;

}
.company date {
  font-style: italic;
  opacity: 0.3;
  float:right;
  line-height:2.7;
}
@media screen and (max-width: 920px) {
  .company date {
    display: none;
  }
}

.company li {
  margin-left: 24px;
}

#news {
  margin-bottom: 10%;
}
.news a {
  font-size:0.9em;
  color: white;
}
.news {
  color: white;
  padding: 30px;
  background-color: #c2c0c0;
  margin-bottom: 15px;
}
.news:hover {
  transition: background-color 150ms ease-in-out;
  background-color: rgba(243,139,121,0.6);
}
.news date {
  display:block;
  position: absolute;
  font-size: 12px;
  font-style:italic;
}
.subtitle {
  font-style:italic;
  text-align:center;
  font-size:0.9em;
  margin:-2em 0 3em 0;
  opacity:0.9;
}
#contact {
  text-align: center;
}
#contact img {
  vertical-align: middle;
  margin-right: 6px;
  width: 2.5em;
}
#contact .inner {
  display:inline-block;
}
#contact li {
  list-style:none;
  margin: 1em;
  text-align: left;
}
